SECRET_KEY=TO_CONFIGURE
DEBUG=False
ALLOWED_HOSTS=ton-domaine.fr
DATABASE_URL=sqlite:////var/www/helloAssoManager/db.sqlite3

HELLO_ASSO_API_CLIENT_ID=TO_CONFIGURE
HELLO_ASSO_API_CLIENT_SECRET=TO_CONFIGURE
ORGANIZATION_SLUG=TO_CONFIGURE
